.project__language--1c-enterprise {
  background-color: #814CCC;
  color: #FFFFFF; }

.project__language--abap {
  background-color: #E8274B;
  color: #FFFFFF; }

.project__language--ags-script {
  background-color: #B9D9FF;
  color: #000000; }

.project__language--ampl {
  background-color: #E6EFBB;
  color: #000000; }

.project__language--antlr {
  background-color: #9DC3FF;
  color: #000000; }

.project__language--api-blueprint {
  background-color: #2ACCA8;
  color: #000000; }

.project__language--apl {
  background-color: #5A8164;
  color: #FFFFFF; }

.project__language--asp {
  background-color: #6A40FD;
  color: #FFFFFF; }

.project__language--ats {
  background-color: #1AC620;
  color: #000000; }

.project__language--actionscript {
  background-color: #882B0F;
  color: #FFFFFF; }

.project__language--ada {
  background-color: #02F88C;
  color: #000000; }

.project__language--agda {
  background-color: #315665;
  color: #FFFFFF; }

.project__language--alloy {
  background-color: #64C800;
  color: #000000; }

.project__language--angelscript {
  background-color: #C7D7DC;
  color: #000000; }

.project__language--applescript {
  background-color: #101F1F;
  color: #FFFFFF; }

.project__language--arc {
  background-color: #AA2AFE;
  color: #FFFFFF; }

.project__language--aspectj {
  background-color: #A957B0;
  color: #FFFFFF; }

.project__language--assembly {
  background-color: #6E4C13;
  color: #FFFFFF; }

.project__language--asymptote {
  background-color: #4A0C0C;
  color: #FFFFFF; }

.project__language--autohotkey {
  background-color: #6594B9;
  color: #000000; }

.project__language--autoit {
  background-color: #1C3552;
  color: #FFFFFF; }

.project__language--ballerina {
  background-color: #FF5000;
  color: #000000; }

.project__language--batchfile {
  background-color: #C1F12E;
  color: #000000; }

.project__language--blitzmax {
  background-color: #CD6400;
  color: #000000; }

.project__language--boo {
  background-color: #D4BEC1;
  color: #000000; }

.project__language--brainfuck {
  background-color: #2F2530;
  color: #FFFFFF; }

.project__language--c {
  background-color: #555555;
  color: #FFFFFF; }

.project__language--c-sharp {
  background-color: #178600;
  color: #FFFFFF; }

.project__language--cpp {
  background-color: #F34B7D;
  color: #000000; }

.project__language--css {
  background-color: #563D7C;
  color: #FFFFFF; }

.project__language--ceylon {
  background-color: #DFA535;
  color: #000000; }

.project__language--chapel {
  background-color: #8DC63F;
  color: #000000; }

.project__language--cirru {
  background-color: #CCCCFF;
  color: #000000; }

.project__language--clarion {
  background-color: #DB901E;
  color: #000000; }

.project__language--clean {
  background-color: #3F85AF;
  color: #FFFFFF; }

.project__language--click {
  background-color: #E4E6F3;
  color: #000000; }

.project__language--clojure {
  background-color: #DB5855;
  color: #000000; }

.project__language--coffeescript {
  background-color: #244776;
  color: #FFFFFF; }

.project__language--coldfusion {
  background-color: #ED2CD6;
  color: #FFFFFF; }

.project__language--common-lisp {
  background-color: #3FB68B;
  color: #000000; }

.project__language--common-workflow-language {
  background-color: #B5314C;
  color: #FFFFFF; }

.project__language--component-pascal {
  background-color: #B0CE4E;
  color: #000000; }

.project__language--crystal {
  background-color: #000100;
  color: #FFFFFF; }

.project__language--cuda {
  background-color: #3A4E3A;
  color: #FFFFFF; }

.project__language--d {
  background-color: #BA595E;
  color: #FFFFFF; }

.project__language--dm {
  background-color: #447265;
  color: #FFFFFF; }

.project__language--dart {
  background-color: #00B4AB;
  color: #FFFFFF; }

.project__language--dataweave {
  background-color: #003A52;
  color: #FFFFFF; }

.project__language--dockerfile {
  background-color: #384D54;
  color: #FFFFFF; }

.project__language--dogescript {
  background-color: #CCA760;
  color: #000000; }

.project__language--dylan {
  background-color: #6C616E;
  color: #FFFFFF; }

.project__language--e {
  background-color: #CCCE35;
  color: #000000; }

.project__language--ecl {
  background-color: #8A1267;
  color: #FFFFFF; }

.project__language--eq {
  background-color: #A78649;
  color: #000000; }

.project__language--eiffel {
  background-color: #946D57;
  color: #FFFFFF; }

.project__language--elixir {
  background-color: #6E4A7E;
  color: #FFFFFF; }

.project__language--elm {
  background-color: #60B5CC;
  color: #000000; }

.project__language--emacs-lisp {
  background-color: #C065DB;
  color: #000000; }

.project__language--emberscript {
  background-color: #FFF4F3;
  color: #000000; }

.project__language--erlang {
  background-color: #B83998;
  color: #FFFFFF; }

.project__language--f-sharp {
  background-color: #B845FC;
  color: #FFFFFF; }

.project__language--f* {
  background-color: #572E30;
  color: #FFFFFF; }

.project__language--flux {
  background-color: #88CCFF;
  color: #000000; }

.project__language--factor {
  background-color: #636746;
  color: #FFFFFF; }

.project__language--fancy {
  background-color: #7B9DB4;
  color: #000000; }

.project__language--fantom {
  background-color: #14253C;
  color: #FFFFFF; }

.project__language--forth {
  background-color: #341708;
  color: #FFFFFF; }

.project__language--fortran {
  background-color: #4D41B1;
  color: #FFFFFF; }

.project__language--freemarker {
  background-color: #0050B2;
  color: #FFFFFF; }

.project__language--frege {
  background-color: #00CAFE;
  color: #000000; }

.project__language--gdscript {
  background-color: #355570;
  color: #FFFFFF; }

.project__language--game-maker-language {
  background-color: #71B417;
  color: #000000; }

.project__language--genie {
  background-color: #FB855D;
  color: #000000; }

.project__language--gherkin {
  background-color: #5B2063;
  color: #FFFFFF; }

.project__language--glyph {
  background-color: #C1AC7F;
  color: #000000; }

.project__language--gnuplot {
  background-color: #F0A9F0;
  color: #000000; }

.project__language--go {
  background-color: #00ADD8;
  color: #FFFFFF; }

.project__language--golo {
  background-color: #88562A;
  color: #FFFFFF; }

.project__language--gosu {
  background-color: #82937F;
  color: #000000; }

.project__language--grammatical-framework {
  background-color: #79AA7A;
  color: #000000; }

.project__language--groovy {
  background-color: #E69F56;
  color: #000000; }

.project__language--html {
  background-color: #E34C26;
  color: #FFFFFF; }

.project__language--hack {
  background-color: #878787;
  color: #000000; }

.project__language--harbour {
  background-color: #0E60E3;
  color: #FFFFFF; }

.project__language--haskell {
  background-color: #5E5086;
  color: #FFFFFF; }

.project__language--haxe {
  background-color: #DF7900;
  color: #000000; }

.project__language--hiveql {
  background-color: #DCE200;
  color: #000000; }

.project__language--holyc {
  background-color: #FFEFAF;
  color: #000000; }

.project__language--hy {
  background-color: #7790B2;
  color: #000000; }

.project__language--idl {
  background-color: #A3522F;
  color: #FFFFFF; }

.project__language--idris {
  background-color: #B30000;
  color: #FFFFFF; }

.project__language--io {
  background-color: #A9188D;
  color: #FFFFFF; }

.project__language--ioke {
  background-color: #078193;
  color: #FFFFFF; }

.project__language--isabelle {
  background-color: #FEFE00;
  color: #000000; }

.project__language--j {
  background-color: #9EEDFF;
  color: #000000; }

.project__language--jsoniq {
  background-color: #40D47E;
  color: #000000; }

.project__language--java {
  background-color: #B07219;
  color: #000000; }

.project__language--javascript {
  background-color: #F1E05A;
  color: #000000; }

.project__language--jolie {
  background-color: #843179;
  color: #FFFFFF; }

.project__language--jsonnet {
  background-color: #0064BD;
  color: #FFFFFF; }

.project__language--julia {
  background-color: #A270BA;
  color: #000000; }

.project__language--jupyter-notebook {
  background-color: #DA5B0B;
  color: #000000; }

.project__language--krl {
  background-color: #28430A;
  color: #FFFFFF; }

.project__language--kotlin {
  background-color: #F18E33;
  color: #000000; }

.project__language--lfe {
  background-color: #4C3023;
  color: #FFFFFF; }

.project__language--llvm {
  background-color: #185619;
  color: #FFFFFF; }

.project__language--lolcode {
  background-color: #CC9900;
  color: #000000; }

.project__language--lsl {
  background-color: #3D9970;
  color: #FFFFFF; }

.project__language--lasso {
  background-color: #999999;
  color: #000000; }

.project__language--lex {
  background-color: #DBCA00;
  color: #000000; }

.project__language--livescript {
  background-color: #499886;
  color: #FFFFFF; }

.project__language--lookml {
  background-color: #652B81;
  color: #FFFFFF; }

.project__language--lua {
  background-color: #000080;
  color: #FFFFFF; }

.project__language--matlab {
  background-color: #E16737;
  color: #000000; }

.project__language--maxscript {
  background-color: #00A6A6;
  color: #FFFFFF; }

.project__language--mql4 {
  background-color: #62A8D6;
  color: #000000; }

.project__language--mql5 {
  background-color: #4A76B8;
  color: #FFFFFF; }

.project__language--mtml {
  background-color: #B7E1F4;
  color: #000000; }

.project__language--makefile {
  background-color: #427819;
  color: #FFFFFF; }

.project__language--mask {
  background-color: #F97732;
  color: #000000; }

.project__language--max {
  background-color: #C4A79C;
  color: #000000; }

.project__language--mercury {
  background-color: #FF2B2B;
  color: #FFFFFF; }

.project__language--meson {
  background-color: #007800;
  color: #FFFFFF; }

.project__language--metal {
  background-color: #8F14E9;
  color: #FFFFFF; }

.project__language--mirah {
  background-color: #C7A938;
  color: #000000; }

.project__language--modula-3 {
  background-color: #223388;
  color: #FFFFFF; }

.project__language--ncl {
  background-color: #28431F;
  color: #FFFFFF; }

.project__language--nearley {
  background-color: #990000;
  color: #FFFFFF; }

.project__language--nemerle {
  background-color: #3D3C6E;
  color: #FFFFFF; }

.project__language--netlinx {
  background-color: #0AA0FF;
  color: #FFFFFF; }

.project__language--netlinxperb {
  background-color: #747FAA;
  color: #FFFFFF; }

.project__language--netlogo {
  background-color: #FF6375;
  color: #000000; }

.project__language--newlisp {
  background-color: #87AED7;
  color: #000000; }

.project__language--nextflow {
  background-color: #3AC486;
  color: #000000; }

.project__language--nim {
  background-color: #37775B;
  color: #FFFFFF; }

.project__language--nit {
  background-color: #009917;
  color: #FFFFFF; }

.project__language--nix {
  background-color: #7E7EFF;
  color: #FFFFFF; }

.project__language--nu {
  background-color: #C9DF40;
  color: #000000; }

.project__language--ocaml {
  background-color: #3BE133;
  color: #000000; }

.project__language--objective-c {
  background-color: #438EFF;
  color: #FFFFFF; }

.project__language--objective-cpp {
  background-color: #6866FB;
  color: #FFFFFF; }

.project__language--objective-j {
  background-color: #FF0C5A;
  color: #FFFFFF; }

.project__language--omgrofl {
  background-color: #CABBFF;
  color: #000000; }

.project__language--opal {
  background-color: #F7EDE0;
  color: #000000; }

.project__language--oxygene {
  background-color: #CDD0E3;
  color: #000000; }

.project__language--oz {
  background-color: #FAB738;
  color: #000000; }

.project__language--p4 {
  background-color: #7055B5;
  color: #FFFFFF; }

.project__language--php {
  background-color: #4F5D95;
  color: #FFFFFF; }

.project__language--plsql {
  background-color: #DAD8D8;
  color: #000000; }

.project__language--pan {
  background-color: #CC0000;
  color: #FFFFFF; }

.project__language--papyrus {
  background-color: #6600CC;
  color: #FFFFFF; }

.project__language--parrot {
  background-color: #F3CA0A;
  color: #000000; }

.project__language--pascal {
  background-color: #E3F171;
  color: #000000; }

.project__language--pawn {
  background-color: #DBB284;
  color: #000000; }

.project__language--pep8 {
  background-color: #C76F5B;
  color: #000000; }

.project__language--perl {
  background-color: #0298C3;
  color: #FFFFFF; }

.project__language--perl-6 {
  background-color: #0000FB;
  color: #FFFFFF; }

.project__language--piglatin {
  background-color: #FCD7DE;
  color: #000000; }

.project__language--pike {
  background-color: #005390;
  color: #FFFFFF; }

.project__language--pogoscript {
  background-color: #D80074;
  color: #FFFFFF; }

.project__language--postscript {
  background-color: #DA291C;
  color: #FFFFFF; }

.project__language--powerbuilder {
  background-color: #8F0F8D;
  color: #FFFFFF; }

.project__language--powershell {
  background-color: #012456;
  color: #FFFFFF; }

.project__language--processing {
  background-color: #0096D8;
  color: #FFFFFF; }

.project__language--prolog {
  background-color: #74283C;
  color: #FFFFFF; }

.project__language--propeller-spin {
  background-color: #7FA2A7;
  color: #000000; }

.project__language--puppet {
  background-color: #302B6D;
  color: #FFFFFF; }

.project__language--purebasic {
  background-color: #5A6986;
  color: #FFFFFF; }

.project__language--purescript {
  background-color: #1D222D;
  color: #FFFFFF; }

.project__language--python {
  background-color: #3572A5;
  color: #FFFFFF; }

.project__language--qml {
  background-color: #44A51C;
  color: #000000; }

.project__language--quake {
  background-color: #882233;
  color: #FFFFFF; }

.project__language--r {
  background-color: #198CE7;
  color: #FFFFFF; }

.project__language--raml {
  background-color: #77D9FB;
  color: #000000; }

.project__language--runoff {
  background-color: #665A4E;
  color: #FFFFFF; }

.project__language--racket {
  background-color: #3C5CAA;
  color: #FFFFFF; }

.project__language--ragel {
  background-color: #9D5200;
  color: #FFFFFF; }

.project__language--rascal {
  background-color: #FFFAA0;
  color: #000000; }

.project__language--rebol {
  background-color: #358A5B;
  color: #FFFFFF; }

.project__language--red {
  background-color: #F50000;
  color: #FFFFFF; }

.project__language--ren-py {
  background-color: #FF7F7F;
  color: #000000; }

.project__language--ring {
  background-color: #2D54CB;
  color: #FFFFFF; }

.project__language--roff {
  background-color: #ECDEBE;
  color: #000000; }

.project__language--rouge {
  background-color: #CC0088;
  color: #FFFFFF; }

.project__language--ruby {
  background-color: #701516;
  color: #FFFFFF; }

.project__language--rust {
  background-color: #DEA584;
  color: #000000; }

.project__language--sas {
  background-color: #B34936;
  color: #FFFFFF; }

.project__language--sqf {
  background-color: #3F3F3F;
  color: #FFFFFF; }

.project__language--srecode-template {
  background-color: #348A34;
  color: #FFFFFF; }

.project__language--saltstack {
  background-color: #646464;
  color: #FFFFFF; }

.project__language--scala {
  background-color: #C22D40;
  color: #FFFFFF; }

.project__language--scheme {
  background-color: #1E4AEC;
  color: #FFFFFF; }

.project__language--self {
  background-color: #0579AA;
  color: #FFFFFF; }

.project__language--shell {
  background-color: #89E051;
  color: #000000; }

.project__language--shen {
  background-color: #120F14;
  color: #FFFFFF; }

.project__language--slash {
  background-color: #007EFF;
  color: #FFFFFF; }

.project__language--slice {
  background-color: #003FA2;
  color: #FFFFFF; }

.project__language--smalltalk {
  background-color: #596706;
  color: #FFFFFF; }

.project__language--solidity {
  background-color: #AA6746;
  color: #FFFFFF; }

.project__language--sourcepawn {
  background-color: #5C7611;
  color: #FFFFFF; }

.project__language--squirrel {
  background-color: #800000;
  color: #FFFFFF; }

.project__language--stan {
  background-color: #B2011D;
  color: #FFFFFF; }

.project__language--standard-ml {
  background-color: #DC566D;
  color: #000000; }

.project__language--supercollider {
  background-color: #46390B;
  color: #FFFFFF; }

.project__language--swift {
  background-color: #FFAC45;
  color: #000000; }

.project__language--systemverilog {
  background-color: #DAE1C2;
  color: #000000; }

.project__language--ti-program {
  background-color: #A0AA87;
  color: #000000; }

.project__language--tcl {
  background-color: #E4CC98;
  color: #000000; }

.project__language--tex {
  background-color: #3D6117;
  color: #FFFFFF; }

.project__language--terra {
  background-color: #00004C;
  color: #FFFFFF; }

.project__language--turing {
  background-color: #CF142B;
  color: #FFFFFF; }

.project__language--typescript {
  background-color: #2B7489;
  color: #FFFFFF; }

.project__language--unrealscript {
  background-color: #A54C4D;
  color: #FFFFFF; }

.project__language--vcl {
  background-color: #148AA8;
  color: #FFFFFF; }

.project__language--vhdl {
  background-color: #ADB2CB;
  color: #000000; }

.project__language--vala {
  background-color: #FBE5CD;
  color: #000000; }

.project__language--verilog {
  background-color: #B2B7F8;
  color: #000000; }

.project__language--vim-script {
  background-color: #199F4B;
  color: #FFFFFF; }

.project__language--visual-basic {
  background-color: #945DB7;
  color: #FFFFFF; }

.project__language--volt {
  background-color: #1F1F1F;
  color: #FFFFFF; }

.project__language--vue {
  background-color: #2C3E50;
  color: #FFFFFF; }

.project__language--webassembly {
  background-color: #04133B;
  color: #FFFFFF; }

.project__language--wollok {
  background-color: #A23738;
  color: #FFFFFF; }

.project__language--x10 {
  background-color: #4B6BEF;
  color: #FFFFFF; }

.project__language--xc {
  background-color: #99DA07;
  color: #000000; }

.project__language--xquery {
  background-color: #5232E7;
  color: #FFFFFF; }

.project__language--xslt {
  background-color: #EB8CEB;
  color: #000000; }

.project__language--yara {
  background-color: #220000;
  color: #FFFFFF; }

.project__language--yasnippet {
  background-color: #32AB90;
  color: #000000; }

.project__language--yacc {
  background-color: #4B6C4B;
  color: #FFFFFF; }

.project__language--zap {
  background-color: #0D665E;
  color: #FFFFFF; }

.project__language--zil {
  background-color: #DC75E5;
  color: #000000; }

.project__language--zenscript {
  background-color: #00BCD1;
  color: #FFFFFF; }

.project__language--zephir {
  background-color: #118F9E;
  color: #FFFFFF; }

.project__language--zig {
  background-color: #EC915C;
  color: #000000; }

.project__language--ec {
  background-color: #913960;
  color: #FFFFFF; }

.project__language--mcfunction {
  background-color: #E22837;
  color: #FFFFFF; }

.project__language--nesc {
  background-color: #94B0C7;
  color: #000000; }

.project__language--ooc {
  background-color: #B0B77E;
  color: #000000; }

.project__language--q {
  background-color: #0040CD;
  color: #FFFFFF; }

.project__language--sed {
  background-color: #64B970;
  color: #000000; }

.project__language--wdl {
  background-color: #42F1F4;
  color: #000000; }

.project__language--wisp {
  background-color: #7582D1;
  color: #FFFFFF; }

.project__language--xbase {
  background-color: #403A40;
  color: #FFFFFF; }
